@media (max-width: 950px) {
  .grille-3colonne {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .grille-3colonne,
  .grille-2colonne {
    grid-template-columns: 1fr;
    gap: var(--space-16);
  }
  .card {
    padding: 12px;
  }
  h1 {
    font-size: 1.7rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  footer {
    font-size: 0.9rem;
  }
}


@media print {

  .nav-buttons{
    display: none;
  }

  h3 {
    display: none;
  }

  h2 {
    font-size: 18px;
    margin-bottom: 5px;
  }

  h1 {
    font-size: 25px;
    margin-bottom: 5px;
  }
  p{
    font-size: 15px;
    margin-bottom: 4px;
  }

  .subtitle{
    font-size: 15px;
  }

  section{
    margin-bottom: 0;
  }

  .contact-info{
    font-size: 15px;
    margin-top: 0;
  }

  header{
    margin-bottom: 5px;
    padding: 0;
    border-bottom: none;
  }

  .info{
    font-size: 10px;
    margin-bottom: 0;
    margin: 0;
    padding: 0;

  }

  .grille-2colonne{
    font-size: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 0;
  }

  .grille-3colonne{
    font-size: 15px;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    gap: 0;
  }

  .card{
    border-radius:none;
    border: none;
    padding:0;
    font-size: 15px;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .competence{
    margin-bottom: 0;
    
  }

  .formation{
    margin-bottom: 0;
  }

  .tag{
    font-size: 10px;
  }

  section{
    margin-bottom: 0;
  }
  .date{
    display: none;
    margin-bottom: 0;
  }

  .experience{
    margin-bottom: 0;
    padding-left: 10px;
    margin-bottom: 0;
  }

  .experience p{
    margin-bottom: 0;
  }

  ul li{
    padding: 0;
    padding-left: 5px;
  }

  ul li::marker,
  ul li::before {
    display: none ;
  }

  footer{
    display: none;
  }

  .langue{
    display: none;
  }

  .supp{
    display: none;
  }

  
}